<% layout('layout') -%>
<div class="container">
  <div class="well">
    <% if(typeof message !== 'undefined' && message.length > 0) { %>
      <%= message %>
    <% } %>

    <% if(typeof login !== 'undefined') { %>
        <a href="/login">please log in. </a>
    <% } %>

    <br>
  </div>
</div>
