<% layout('layout') -%>
<div id="login" class="container">

    <div class="jumbotron text-center">
        <h1><span class="fa fa-lock"></span> Blogger</h1>

        <p>Login or Signup</p>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a>
    </div>

</div>
