<!doctype html>
<html>
<head>
    <title>Blogger</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link href="/plugins/summernote/summernote.css" rel="stylesheet" />
    <link href="/plugins/raty/jquery.raty.css" media="all" rel="stylesheet" />
    <link href="/plugins/upvote/jquery.upvote.css" media="all" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>

    <style>
        body {
          font-family: myriad-pro, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
          overflow-x: hidden;
          min-height: 150%;
          background-color: #F2F2F2;
          color: #030303;
          position: relative;
          padding-top: 55px;
          color: #444444;
          line-height: 1.5em;
          webkit-font-smoothing: antialiased;
        }
        #login {
          margin: 10% auto;
          position: relative;
          width: 800px;
         }
        .well {
          background-color: #fff;
          text-align: center;
          font-size: 40px;
          line-height: 48px;
          font-weight: 100;
          padding: 101px 0px;
          height: 100%;
        }
        .page-header {
          margin-bottom: 0px;
        }
        .panel-heading {
          margin: 5px 0 0px 0;
          font-size: 22px;
          font-weight: 600;
          letter-spacing: 0.5px;
          color: #007dc6;
          /*color: #0092d1;*/
        }

        .panel {
          padding: 20px;
        }
        h1, h2, h3 {
          font-size: 25px;
          font-weight: 600;
          letter-spacing: 0.5px;
          color: rgb(0, 125, 198);
          line-height: 40px;
          font-family: myriad-pro, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
        }
        a:hover {
          text-decoration: none;
          font-weight: 500;
          cursor: pointer;
        }

        h3 {
          font-size: 19px;
          line-height: 20px;
          padding: 0px;
          margin: 0 0 20px 0;
        }

        /*table*/
        .table>tbody>tr:hover > td {
          background-color: #f2f8fd !important;
          color: #34495e;
          cursor: pointer;
        }
        .table>thead>tr>td,
        .table>tbody>tr>td {
          vertical-align: middle;
          /*font-size: 15px;*/
        }
        .table>tbody>tr>td img{
          max-height: 80px;
          max-width: 80px;
        }

        /* post */
        .container.sm {
          max-width: 50%;
        }
        .container.md {
          max-width: 80%;
        }
        .post-heading {
          text-align: center;
          font-size: 48px;
          color: black;
          margin-bottom: 22px;
        }
        .post-heading a {
          color: black;
        }
        .post-author {
          text-align: center;
          text-transform: uppercase;
          font-size: 15px;
        }
        .post-date {
          text-align: center;
          color: gray;
          font-size: 12px;
          margin-bottom: 5px;
        }
        .post-content {
          margin: 0 auto;
          font-size: 18px;
          line-height: 32px;
        }
        .post-image {
          display: block;
          margin: 30px auto;
          width: 60%;
        }
        .post-comment a{
          /*color: black;*/
          font-style: italic;
          margin: 0 auto;
          font-size: 16px;
        }

        .media-left {
          padding-right: 10px;
        }
    </style>
    <script src="//fonts.walmart.com/fqp0lia.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
</head>
<body>
    <!-- HEADER -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-body" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Blogger</a>
        </div>
        <div id="navbar-body" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/login">Login</a></li>
            <li><a href="/signup">Signup</a></li>
            <li><a href="/posts">All Posts</a></li>
             <li><a href="/blog">My Blog</a></li>
            <li><a href="/profile">My Profile</a></li>
            <li><a href="/public">Public Profile</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/logout">Logout</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <!-- BODY -->
    <%- body %>

    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="/plugins/summernote/summernote.js"></script>
    <script src="/plugins/raty/jquery.raty.js"></script>
    <script src="/plugins/upvote/jquery.upvote.js"></script>

    <!-- REQUIRED SCRIPTS -->
    <script>
        $(document).ready(function () {

            $('.text-editor').summernote({
                height: 250// set height for editor
            });

            $('.raty').raty({
              half: true,
              path: '/plugins/raty/images',
              size: 24
            })

            $('.upvote').upvote({
              id: $(this).data("id"),
              callback: function(data) {
                console.log({ id: data.id, up: data.upvoted, down: data.downvoted })
                $.ajax({
                  url: '/vote',
                  type: 'post',
                  data: { id: data.id, up: data.upvoted, down: data.downvoted }
                });
            }});

        });
    </script>
</body>
</html>

